h3 {
  color:blueviolet;
  font-family: 'Times New Roman', Times, serif;
}
h2{
  color: blue;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.description {
  color:darkblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

